body {
    background-color: #7dccc5;
}
.images {
    position: absolute;
    top: 15%;
    width: 100%;
}
.world {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
}
.ship {
    position: absolute;
    width: 15%;
    top: 63%;
    left: 17%;
}
.water {
    position: absolute;
    width: 100%;
    top: 91%;
    z-index: 1;
}
.clouds {
    position: absolute;
    width: 44%;
    left: 43%;
    top: -13%;
}